body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif; 
	color: #2D3748;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	
}

header{
	background-color:  #63B3ED;
	color:  #FFFFFF;
	
}

h1,h2{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 36px;
	
}

h2{
	font-size: 32px;
	color: #48BB78;
	
}

p.author-postdate{
	color: #718096;
}

h3{
	font-family: Georgia, 'Times New Roman', Times, serif;
	
}



h3.side-heading{
	color: #48BB78;

}

h3.about-heading{
	background-color: #E2E8F0;
	color: #000000;

}

div.about-section{
	background-color: #E2E8F0;
	
}

a.link{
	color: #4299E1;
	
}

footer{
	background-color: #2C5282;
	color: #FFFFFF;
}

.flex-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	
}

.row {
	align-items: center;
	text-align: center;
}

.container{
	display:grid;
	grid-gap: 40px;
}

#header{
	grid-column: 1/4;
    grid-row:1;
}

#main-content{
    grid-column: 1/3;
    grid-row:2;
}

#side-content{
    grid-column: 3;
    grid-row:2;
	
}

#footer{
    grid-row:3;
    grid-column: 1/4;